*.a
*.o
.deps
*deps/*
/*~
/.dep_segment
/Makefile
/Makefile.DOS
/NMakefile
/README.DOS
/README.OS2
/README.W32
/SMakefile
/autom4te.cache
/build.sh
/conf*/*.awk
/confdefs.h
/config.ami
/config.h
/config.h-vms
/config.h.W32
/config.log
/config.status
/configh.dos
/conftest*
/loadavg
/make
/po-check-*
/remake
/remake.sum
/remake-*.tar.bz2
/remake-*.tar.gz
/site.bak
/site.exp
/stamp-h1
/tmp
/tmpwrk*/*
*DS_Store*
*.log
*.cache
*.orig
*.rej
*.tab.c
TAGS
ID
GTAGS
GRTAGS
GSYMS
GPATH
tags
cscope*.out
cscope.files
config*.lineno
*.tmp
*.layout
