/*~
/*.log
/Makefile
/fdl.texi
/make*.html
/make*.info
/make-stds.texi
/make.info
/make.info-1
/make.info-2
/make.tgs
/make.pdf
/make.html
/make_abt.html
/mdb.info
/remake*.info
/remake.aux
/remake.cp
/remake.cps
/remake.dvi
/remake.fn
/remake.html
/remake.info
/remake.ky
/remake.kys
/remake.log
/remake.pdf
/remake.pg
/remake.ps
/remake.ps.gz
/remake.sum
/remake.t2d
/remake.t2p
/remake.toc
/remake.tp
/remake.vr
/remake_1.html
/remake_2.html
/site.bak
/site.exp
/stamp-1
/stamp-vti
/version.texi
/vti.tmp
