/*.insert-header
/*.gmo
/*.mo
/*.new.po
/*.o
/*.po
/*~
/Makefile
/Makefile.in
/Makevars.template
/POTFILES
/Rules-quot
/boldquot.sed
/core
/core.*
/en@boldquot.header
/en@quot.header
/insert-header.sin
/make.pot
/quot.sed
/remake.1po
/remake.2po
/remake.po
/remake.pot
/remove-potcdate.sed
/remove-potcdate.sin
/stamp-po
/stamp-poT
