---
name: cooljeanius/remake
on:
  push:
    branches:
      - "**/*"
  pull_request:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: Dependencies
        run: |
          sudo apt-get -qq update
          sudo apt-get -y install autopoint libreadline-dev wget texinfo \
            dejagnu intltool gettext-doc libasprintf-dev libgettextpo-dev \
            ruby ruby-rspec yamllint libdigest-hmac-perl libgssapi-perl \
            libcrypt-ssleay-perl libsub-name-perl libauthen-ntlm-perl
      - run: sync && (env | uniq | sort | uniq  | grep -v "\*\*\*" | grep -v "PWD\=") && sleep 1
      - run: sync && (autopoint --version || gettext --version) && sync && sleep 1
      - run: autoreconf -fvi -Wall -Wno-obsolete && ./configure
      - run: sync && make update && (cd doc && make stamp-vti)
      - run: make && yamllint .github/dependabot.yml
        if: "${{ success() }}"
      - run: sync && make check-loadavg && sync && stat loadavg && sync
        if: "${{ success() }}"
      - run: make check || make check-rspec-broken || stat Makefile
        if: "${{ success() }}"
      - run: cat /usr/include/errno.h
        if: "${{ failure() }}"
